body div p{
    color:orange
}

body p {
    color: blue;
}

button {
    background-color: white;
    font-size: medium;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    cursor: pointer; 
}

.button:hover{
    background-color: red;
}

.entrada:focus{
    border-color: blueviolet;
}